---
# The name of your project
title: Spring Cloud Stream

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringCloudOSS

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-stream
      icon: github

    - name: Issues (Waffle)
      url:  https://waffle.io/spring-cloud/spring-cloud-stream
      icon: tracking

    - name: CI (Jenkins)
      url:  https://jenkins.spring.io/view/SpringCloudStream/view/CI/
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-cloud-stream
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Cloud]({{ site.projects_site_url }}/spring-cloud)
{% endcapture %}


{% capture billboard_description %}

Spring Cloud Stream is a framework for building message-driven microservices. Spring Cloud Stream builds upon Spring Boot to create DevOps friendly microservice applications and Spring Integration to provide connectivity to message brokers. Spring Cloud Stream provides an opinionated configuration of message brokers, introducing the concepts of persistent pub/sub semantics, consumer groups and partitions across several middleware vendors. This opinionated configuration provides the basis to create stream processing applications.

By adding `@EnableBinding` to your main application, you get immediate connectivity to a message broker and by adding `@StreamListener` to a method, you will receive events for stream processing.

{% endcapture %}

{% capture main_content %}

<span id="quick-start"></span>

## Quick Start

<script type="text/javascript">{% include custom.js %}</script>
{% include download_widget.md %}

As long as Spring Cloud Stream and a Spring Cloud Stream Binder dependencies are on the classpath any Spring Boot application with `@EnableBinding` will bind to the external message broker (e.g. Rabbit MQ or Apache Kafka, depending on the binder-implementation of choice).

Let's see it in action!

Head over to http://start.spring.io and create a project with the 'Stream Kafka' dependency. Modify the main class as shown below:

```java
@SpringBootApplication
@EnableBinding(Source.class)
public class StreamdemoApplication {

    public static void main(String[] args) {
        SpringApplication.run(StreamdemoApplication.class, args);
    }

    @Bean
    @InboundChannelAdapter(value = Source.OUTPUT)
    public MessageSource<String> timerMessageSource() {
        return () -> new GenericMessage<>(new SimpleDateFormat().format(new Date()));
    }

}
```

Make sure Kafka (0.10.1.x or later) is running when you run the application. You can use the `kafka-console-consumer.sh` utility provided by Kafka to monitor messages sent on the `output` topic.

## Kafka Client Compatibility

Spring Cloud Stream's Kafka binder builds upon Spring Kafka and Spring Integration Kafka libraries. Specifically, Spring Kafka is the core to this foundation, and it is based on the pure java `kafka-clients` jar.

The following is the compatibility matrix of Spring cloud Stream and its dependent projects:

<table>
  <tr>
      <th>Spring Cloud Stream Version</th>
      <th>Spring for Apache Kafka Version</th>
      <th>Spring Integration for Apache Kafka Version</th>
      <th><code>kafka-clients</code> Version</th>
  </tr>
  <tr>
      <td>2.0.x</td>
      <td>2.1.x, 2.0.x</td>
      <td>3.0.x</td>
      <td>1.0.x, 0.11.0.x</td>
  </tr>
  <tr>
      <td>1.3.x</td>
      <td>1.3.x, 1.2.x, 1.1.x</td>
      <td>2.3.x, 2.2.x, 2.1.x</td>
      <td>1.0.x<sup>*</sup>, 0.11.0.x<sup>*</sup>, 0.10.2.x</td>
  </tr>
  <tr>
      <td>1.2.x</td>
      <td>1.2.x, 1.1.x</td>
      <td>2.2.x, 2.1.x</td>
      <td>0.10.1.x</td>
  </tr>
</table>

Depending on the selected release-combination, the dependent projects will be referenced transitively when using maven or gradle for version management.
<br/><br/>
<sup>*</sup> To use the 0.11.x.x or 1.x.x `kafka-clients` with 1.3.x, you must use the `spring-cloud-stream-binder-kafka11` jar (instead of `spring-cloud-stream-binder-kafka`). You must also override certain other jar versions as follows:

<table>
 <tr>
  <td>spring-cloud-stream-binder-kafka11</td>
  <td>1.3.0.RELEASE or higher</td>
 </tr>
 <tr>
  <td>spring-kafka</td>
  <td>1.3.2.RELEASE or higher</td>
 </tr>
 <tr>
  <td>spring-integration-kafka</td>
  <td>2.3.0.RELEASE or higher</td>
 </tr>
 <tr>
  <td>kafka_2.11</td>
  <td>(same version as kafka-clients)</td>
 </tr>
</table


{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Spring Cloud Stream Samples](https://github.com/spring-cloud/spring-cloud-stream-samples)

### Related Projects

* [Spring Cloud Stream Applications](http://cloud.spring.io/spring-cloud-stream-app-starters/)
* [Spring Cloud Data Flow](http://cloud.spring.io/spring-cloud-dataflow/)

{% endcapture %}


{% include project_page.html %}
</html>
