*~
#*
*#
.#*
.classpath
.project
.settings
.springBeans
.gradle
build
bin
target/
_site/
*.swp
.idea
*.iml
.factorypath
.vscode/
.flattened-pom.xml


node
node_modules
build
/package.json
package-lock.json
